html {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  height: 100%;
  background-color: #6c757d;
}

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
}
